/* Error: Only 0 arguments allowed, but 1 was passed.
 *     ,
 * 36  | @mixin font-awesome{
 *     |        ============ declaration
 * ... |
 * 48  |   @include font-awesome($font-weight);
 *     |   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *     '
 *   sass\utils\mixins.scss 48:3    font-awesome()
 *   sass\utils\mixins.scss 48:3    heart()
 *   sass\utils\mixins.scss 65:5    heart-animated()
 *   sass\layouts\menus.scss 36:13  @use
 *   sass\style.scss 6:3            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Only 0 arguments allowed, but 1 was passed.\a     \2577 \a 36  \2502  @mixin font-awesome{\d\a     \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a... \2502 \a 48  \2502    @include font-awesome($font-weight);\d\a     \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a     \2575 \a   sass\\utils\\mixins.scss 48:3    font-awesome()\a   sass\\utils\\mixins.scss 48:3    heart()\a   sass\\utils\\mixins.scss 65:5    heart-animated()\a   sass\\layouts\\menus.scss 36:13  @use\a   sass\\style.scss 6:3            root stylesheet";
}
