@use "../utils/mixins.scss";
@use "../utils/variables.scss";
@use "../utils/colors.scss";

.explorer {
    text-align: center;
margin: 32px;
    
    & h2 {
        font-size: 24px;
        margin: 15px
    }
    
    & p {
        font-size: 15px;
    }
    
    & button {
        @include mixins.base-button;
        font-size: 15px;
    }
}
.loader{
    position: fixed;
    display: grid;
    place-items: center;
    background-color: white;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0.9;
    animation: disappear 200ms;
    animation-fill-mode: forwards;
    animation-delay: variables.$animation-duration;
    transform-origin: top;
    &::after{
        content: "";
        height: 100px;
        width: 100px;
        border-right: 5px solid transparent;
        border-top: 5px solid colors.$purple;
        border-radius: 50%;
        animation: spin variables.$animation-duration infinite ease-in-out;
    }
}
@keyframes disappear{
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(0);
    }
}
@keyframes spin{
    to {
        transform:rotate(360deg);
    }
}