@use "../utils/mixins.scss";

.explorer {
    text-align: center;
margin: 32px;
    
    & h2 {
        font-size: 24px;
        margin: 15px
    }
    
    & p {
        font-size: 15px;
    }
    
    & button {
        @include mixins.base-button;
        font-size: 15px;
    }
}