@use "../utils/mixins.scss";
@use "../utils/variables.scss";
@use "../utils/colors.scss";


.function{
    counter-reset: steps;
    margin-bottom: 32px;
    & ol{
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        @media (max-width:1150px){
            flex-direction: column;
        }
    
    & li{position: relative;
        list-style: none;
        background-color: #f6f6f6;
        padding: 24px 32px;
        flex-grow: 1;
        border-radius: 15px;
        @include mixins.box-shadow;
        &::before{
            content: counter(steps);
            counter-increment: steps;
            color: white;
            background-color: colors.$purple;
            width: 2*variables.$function-bullet-heigth;
            height: 2*variables.$function-bullet-heigth;
            border-radius: 50%;
            display: grid;
            place-items: center;
            position: absolute;
            left: -1*variables.$function-bullet-heigth;
            top: 50%;
            transform: translateY(-50%);
            
        }
        &:hover {
            @include mixins.transform-zoom;
            background-color: lighten(colors.$purple, 35%);
            i::before {
              color: colors.$purple;
            }
          }
    
     & i.fas{
        margin-right: 15px;
        color: colors.$lightgrey;
        font-size: 24px;
    
     }
    }
    }
}