@use "../utils/variables.scss";
@use "../utils/mixins.scss";
@use "../utils/colors.scss";
#homepage{

    
    .menus{
        background-color: #f6f6f6;
        margin-bottom: 32px;
        
        
        
        .menus_cards{
            display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        @media (max-width:variables.$breakpoint) {
            grid-template-columns: 1fr;
        }
        .new {
            position: relative;
          }
          .new::before {
            content: "Nouveau";
            position: absolute;
            height: 32px;
            width: 80px;
            background-color: colors.$color-tertiary;
            color: darken(colors.$color-tertiary, 50%);
            display: grid;
            place-items: center;
            right: 15px;
            top: 15px;
          }
        
        .card{
            
            &__image{
                
                height: 240px;
                background-size: cover;
                background-position: center;
                border-radius: 15px 15px 0 0
                
            }
            @for $i from 1 through 4 {
                &__image-#{$i} {
                    background-image: url("./assets/menu-#{$i}.jpg");
                }
        }
        &__description{
            position:relative;
            background-color: white;
            border-radius: 0 0 15px 15px;
            
            h3,
            p{
               padding:  5px 8px 5px;
            }
            i{
                font-size: 32px;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
            }
            .fas {
                color: transparent;
                -webkit-background-clip: text;
                opacity: 0;
                transition: all 200ms ease-in-out;
                @include mixins.gradient;

            }
            &:hover .fas{
                opacity: 1;
                transform:translateY(-50%) scale(1.1);

            }
        }
        
    }
}
}
}